[mysqld]
skip-ssl
lower_case_table_names = 1
sql_mode = NO_ENGINE_SUBSTITUTION
innodb_file_per_table = 1
innodb_log_file_size = 32M
open_files_limit = 20000
max_allowed_packet = 16M
character-set-server = utf8
collation-server = utf8_unicode_ci
